<footer>
    <div class="footer">
        <span>© 2024 <a class="navbar-brand text-light" href="#"><i class="fa-solid fa-snowflake"></i> Weather App.</a>All Rights
            Reserved.
        </span>
    </div>
</footer>