<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlink}}
</head>

<body>
   {{>navbar}}

    <!--main header-->
    <div class="containter-fluid main_header">
        <div class="row ">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="Image/man.png" alt="ganesh" class="img-fluid" title="ganesh" />
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>Experience the power of<span style="color: #0097e6;"> real-time weather tracking!</span></h1>
                        <a href="/weather"><button>check now</button></a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
{{>footer}}
</body>

</html>